<!-- <div id="main1">
<div class="container">
    <h2>Please Register your Financial Institution
    </h2>
   
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">REGISTER</button>
  
   
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Financial Institute</h4>
          </div>
          <div class="modal-body">
              <input type="text" [(ngModel)]="bank_name" placeholder="Bank Name" class="form-control" /><br>
              <input type="text" [(ngModel)]="loan_interest" placeholder="Loan Interest" class="form-control"/><br>
              <input type="text" [(ngModel)]="deposit_amount" placeholder="Deposit Amount" class="form-control"/><br>
              <input type="text" [(ngModel)]="duration" placeholder="Duration" class="form-control"/><br>
              <input type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" (click)="register_bank()" value="Register">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<br><br><br>

  <div class="container" style="border:1px solid #ccc;background:white">
    <h1>Register The Financial Institution Here...</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="Bank Name"><b>Bank Name</b></label>
    <input type="text" [(ngModel)]="bank_name" placeholder="Bank Name" class="form-control" >

    <label for="Loan Interest"><b>Loan Interest</b></label>
    <input type="text" [(ngModel)]="loan_interest" placeholder="Loan Interest" class="form-control">

    <label for="Deposit Amount"><b>Deposit Amount</b></label>
    <input type="text" [(ngModel)]="deposit_amount" placeholder="Deposit Amount"class="form-control">
    
    <label for="Duration"><b>Duration</b></label>
    <input type="text" [(ngModel)]="duration" placeholder="Duration" class="form-control">
    <div class="clearfix">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary" (click)="register_bank()">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
  </div>



<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  loadingText="Loading..."
  type="ball-scale-multiple">
</ngx-spinner>

<ngx-spinner></ngx-spinner>
