th,td {
    text-align:center;
 
}
.table-wrapper-2 {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    overflow-y:scroll;
    width: 30;
    line-break: normal;
    
}
th{
    font-style: normal;
    font-weight: bold;
    background-color:grey;
  
}
table{
    border: 1px solid black;
    
 }